
<div class="flex-container">
    <div class="form">
      <form  [formGroup]="signUpForm" (ngSubmit)="register()" style="">
        <div class="container">
          <h1>Sign Up</h1>
          <hr>
          <input type="text" placeholder="Enter username"  required formControlName="username" >
      
         
          <input type="password" placeholder="Enter Password" name="psw" required formControlName="password">
      

          <input type="text" placeholder="Enter name" name="psw-repeat" required formControlName="name">
          <label>
         Forget password?
          </label>
        
          <div class="clearfix">
           
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
      
   
  </div>
  
    
   
  </div>
  