

<div class="main">

  <!-- <h1> Doctors </h1> -->

  <input class="search" type="text" placeholder="Search..">

  <ul class="cards" *ngFor="let doc of doctor">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.pexels.com/photos/4173251/pexels-photo-4173251.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
        <div class="card_content">
          <h2 class="card_title">{{doc.title}} {{doc.name}}</h2>
          <h2 class="card_title">{{doc.Qualification}}</h2>
          <p class="card_text">{{doc.yearsOfex}}  Years Experience</p>
          <button class="btn card_btn" [routerLink]="['/doctor/show', doc._id]" >View Profile </button>
        </div>
      </div>
    </li>
  
  </ul>
</div>
 