<div class="main">

  <h1> Doctors </h1>

  <input class="search" type="text" placeholder="Search..">

  <ul class="cards" *ngFor="let doc of doctor">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.pexels.com/photos/4173251/pexels-photo-4173251.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
        <div class="card_content">
          <h2 class="card_title">{{doc.title}} {{doc.name}}</h2>
          <h2 class="card_title">{{doc.Qualification}}</h2>
          <p class="card_text">{{doc.yearsOfex}}  Years Experience</p>
          <button class="btn card_btn" [routerLink]="['/doctor/show', doc._id]" >View Profile </button>
        </div>
      </div>
    </li>
    <!-- <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.pexels.com/photos/4033148/pexels-photo-4033148.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
        <div class="card_content">
          <h2 class="card_title">Dr Khan Main</h2>
          <h2 class="card_title">Dermatologist</h2>
          <p class="card_text">7 Years Experience</p>
          <button class="btn card_btn">View Profile</button>
        </div>
      </div>
    </li> -->
    <!-- <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://images.pexels.com/photos/6749781/pexels-photo-6749781.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
        <div class="card_content">
          <h2 class="card_title">Dr January</h2>
          <h2 class="card_title">Cadiologist</h2>
          <p class="card_text">7 Years Experience</p>
          <button class="btn card_btn">View Profile</button>
          
        </div>
      </div>
    </li> -->
    <!-- <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li> -->
    <!-- <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li> -->
    <!-- <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
        <div class="card_content">
          <h2 class="card_title">Card Grid Layout</h2>
          <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
          <button class="btn card_btn">Read More</button>
        </div>
      </div>
    </li> -->
  </ul>
</div>

<h3 class="made_by">Made with ♡</h3>
 