
<div class="flex-container">
    <div >
     
  
      <form [formGroup]="loginForm"  [formGroup]="loginForm"  (ngSubmit)="Login()">
        <div class="container">
            <div class="reg">
                <h1>Sign In As Doctor</h1>
                <img src="/assets/images/undraw_Vehicle_sale_a645.svg" />
            </div>
          
          <hr>
      
       
          <input type="text" placeholder="Enter Email" name="email" required formControlName="username">
      
         
          <input type="password" placeholder="Enter Password" name="psw" required formControlName="password">
      

          
       
          

      
          <div class="clearfix">
           
            <button type="submit" class="signupbtn" [routerLink]="['/Appoinmentlist/show',]">Sign Up</button>
          </div>
        </div>
      </form>
      
   
  </div>
  
    
   
  </div>
  