<h2 style="text-align:center">Dentist</h2>

<div class="card">
  <img src="https://images.pexels.com/photos/6749781/pexels-photo-6749781.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="John" style="width:100%">
  <h1> {{doctor.title}} {{doctor.name}} </h1>
  <p class="title"> {{doctor.Qualification}} </p>
  <p class="title">{{doctor.location}}</p>
  <div class="child" style="margin: 24px 0;">
    <div class="vist">
         <p>Visit 100</p>
    </div>
    <div class="review">
    <p>Reviews 50</p>
    </div>
    <div class="time">
    <p>8am-9pm </p>
    </div>
    
  </div>
  <p><button>Appoinment</button></p>
</div>
