
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
  
}

.title {
  color: grey;
  font-size: 18px;
}
.child{
    display: flex;
    justify-content: space-around;
}
.vist{
    border-radius: 50%;
    background-color: rgba(83,82,212,255);
    
    width: 25%;
    height: 80px;
    text-align: center;
    
}
.time{
    border-radius: 50%;
    background-color: rgba(105,200,243,255);
    
    width: 25%;
    height: 80px;
    text-align: center; 
}
.review{
    border-radius: 50%;
    background-color:rgba(252,149,2,255)
    ;
    
    width: 25%;
    height: 80px;
    text-align: center;   
}
p{
    margin-top: 30px;
    color:white;
    font-size: 12px;
    
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #00BFA6;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}